*{
    margin: 0;
    padding: 0;
}

body{
    padding: 20px;
}

div{
    padding: 20px;
    border:1px solid gray;
    background-color:gainsboro;
}

.clear:before,.clear:after{
    content: ' ';
    display: table;
}

.clear:after{
    clear: both;
}

.box .left{
    width: 200px;
    background-color: white;
    float: left;
}

.box .left .logo{
    width:80px;
    height: 80px;
    float: left;
}

.box .left span{
    float: right;
}

.box .center{
    background-color: white;
    margin-left: 260px;
    margin-right: 180px;
}

.box .center .text{
    margin-top:20px;
}

.box .center .text:first-child{
    margin-top:0;
}

.box .right{
    float: right;
    background-color: white;
    margin-left: 20px;
}

.box .right .logo{
    width: 80px;
    height: 80px;
    margin-top:20px;
}

.project_tab_menu [id^='tab']:checked ~ [id^='tab_menu']{
    display: block;
    position:absolute;
    width:403px;
    border: 1px solid #cacbcb;
    border-radius:0 5px 5px;
    padding:28px 49px 35px 38px;
    left:0;top:40px;
}
.project_tab_menu [id^='tab']:checked~label{
    position: relative;
    z-index: 1;
    border:1px solid #cacbcb;
    border-bottom: none;
    background: #fff;
    height:28px;
}