*{
    margin:0;
    padding:0;
}

div{
    border:1px solid black;
    box-sizing:border-box;
}

ul{
    list-style:none;
}

li{
    display:inline-block;
}

#container{
    width:80%;
    margin:0 auto;
}

#header{
    height:200px;
}

#header #logo,#banner_ul,#banner_search{
    height:180px;
    margin-top:20px;
}
