<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div ui-view="pagehead">
                头文件...
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ui-view="pagebody">
                内容文件...
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div ui-view="pagefoot">
                脚文件...
            </div>
        </div>
    </div>
</div>
