 <div class="row">
    <div class="col-md-7">
        <h1 class="h1">zxcchen</h1>
        <form>
            <input type="text" />
            <button>?</button>
        </form>
    </div>
    <div class="col-md-5">
        <div>
            game...
        </div>
    </div>
</div>
<div class="row">
    <ul class="nav nav-justified">
        <li><a ui-sref="index({contentType:'programme'})">编程</a></li>
        <li><a ui-sref="index({contentType:'tool'})">工具</a></li>
        <li><a ui-sref="index({contentType:'office'})">office</a></li>
        <li><a ui-sref="index({contentType:'math'})">数学</a></li>
        <li><a ui-sref="index({contentType:'life'})">生活</a></li>
    </ul>
</div>