*{
    margin:0;
    padding: 0;
    font-size: 0;
}

.container {
    position:relative;
    width:400px;
    height:200px;
    z-index: 0;
    background-color: green;
}

.container div.button a{
    background-color: #fff;
    font-size: 15px;
    position: absolute;
    z-index: 2;
}

.container div.button .button_effect{
    position:absolute;
    left:0px;
    top:0px;
    width:0;
    height:200px;
    z-index: 1;
    display: none;
}

.container div#buttonA .button_effect{
    background-color: red;
}

.container div#buttonB .button_effect{
    background-color: yellow;
}

.container div#buttonC .button_effect{
    background-color: blue;
}

.container div#buttonA a{
    left:250px;
    top:170px;
}

.container div#buttonB a{
    left:300px;
    top:170px;
}

.container div#buttonC a{
    left:350px;
    top:170px;
}

.container div.button a:hover + div.button_effect{
    display: block;
    animation: toblock 2s;
}

@keyframes toblock{
    from    {width: 0px;}
    to      {width:400px;}
}